@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../public/images/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

h1 {
  display: inline-block;
  background: linear-gradient(90deg, rgba(255, 42, 114, 1) 0%, rgba(170, 104, 255, 1) 50%, rgba(255, 129, 45, 1) 100%);
  background-clip: text;
  background-size: 200% 100%;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  font-size: 70px;
  font-family: 'Bangers', cursive;
  font-weight: 200;
  padding: 10px;
  text-shadow: 0 10px 20px rgba(255, 155, 55, 0.55);
  position: relative;
  z-index: 1;
  transition: 0.5s;
  transform: translateY(-50%) rotate(1deg);
}

h1:hover{
  background-position: right;
  transform: translateY(-50%) rotate(-1deg);
}

.points p{
  font-size: 80px;
  position: absolute;
  font-family: 'Bangers', cursive;
  color: rgba(255, 42, 114, 1);
  text-shadow: 0 5px 15px rgba(255, 155, 55, 0.55);
  transform: translate(0, -50%);
  z-index: 1;
}

#playerPoints{
  top: 0;
  left: 100px;
}

#botPoints{
  top: 0;
  right: 100px;
}

#game {
  background-image: url("../public/images/landscape.svg");
  background-size: cover;
  width: 70%;
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
  box-shadow: 0 0 200px black;
  text-align: center;
  position: relative;
}

h2 {
  color: white;
  font-family: 'Bangers', cursive;
  font-size: 75px;
  text-shadow: 0 0 25px rgb(255, 129, 45);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2s;
}

.visible{
  animation: 1s 3 epicAppearance;
}

@keyframes epicAppearance{
  0%{
    opacity: 0;
    transform: translate(-50%, -50%) scale(5);
  }
  50%{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100%{
    opacity: 0;
  }
}

#hands {
  width: 100%;
  /* overflow: hidden; */
  float: left;
  position: relative;
  z-index: 1;
}

#hands img {
  width: 50%;
  height: 500px;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}

.handsVisible{
  opacity: 1 !important;
}

.handsVisible:first-child{
  transform: scale(1) rotate(90deg) !important;
}

.handsVisible:last-child{
  transform: scaleY(1) scaleX(-1) rotate(90deg) !important;

}

#left {
  float: left;
  transform: scale(5) translateX(-50%);
}

#right {
  float: right;
  transform: scaleY(5) scaleX(-5) translateX(-50%);
}

#menu img {
  background: linear-gradient(90deg, rgba(255, 42, 114, 1) 0%, rgba(170, 104, 255, 0.5) 50%, rgba(255, 42, 114, 1) 100%);
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.1s;
  border: 3px solid transparent;
  cursor: pointer;
}

#menu img:hover {
  border-color: #ffffff55;
  box-shadow: 0 0 50px #ffffff55;
}

.activeButton{
  opacity: 1 !important;
  pointer-events: none;
  border-color: #ffffff55 !important;
  box-shadow: 0 0 50px #ffffff55;
}

.lockedButton{
  opacity: 0.5;
  pointer-events: none;
}

#menu {
  text-align: center;
  transform: translateY(50%);
  /* чтобы меню было под hands */
  clear: both;
}

#gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 15px;
  opacity: 0;
  transition: 1s;
  /* background-size: 400%; */
  /* background-position: center; */
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 100%); */
}

.gradientLeft{
  background-image: linear-gradient(90deg, rgba(78, 255, 0, 0.6) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 45, 45, 0.6) 100%) !important;
  opacity: 1 !important;
  /* background-size: 100% !important; */
}

.gradientRight{
  background-image: linear-gradient(-90deg, rgba(78, 255, 0, 0.6) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 45, 45, 0.6) 100%) !important;
  opacity: 1 !important;
  /* background-size: 100% !important; */
}

#restartButton{
  background: linear-gradient(90deg, rgba(255, 42, 114, 1) 0%, rgba(170, 104, 255, 0.5) 50%, rgba(255, 42, 114, 1) 100%);
  background-size: 150%;
  background-position: center;
  width: 150px;
  height: 100px;
  border-radius: 100px;
  transition: 0.1s;
  border: 3px solid transparent;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  font-size: 35px;
  font-family: 'Bangers', cursive;
  display: block;
  margin: auto;
  margin-top: 75px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

#restartButton:hover {
  border-color: #ffffff55;
  box-shadow: 0 0 50px #ffffff55;
  background-size: 100%;
}